URL_DATABASE = "postgresql://tu_usuario_en_posgresql:contraseña@localhost:tupuerto/tubasededatos"
SECRET_KEY=super_clave_secreta
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
GMAIL_USERNAME = "tucorreo@gmail.com"
GMAIL_APP_PASSWORD = "tu_clave_app_gmail"
URL_FRONTEND = "tu_urlfrotend"